In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.pyplot import figure, show
from matplotlib.ticker import MaxNLocator
import os 
import time

In [2]:
data = pd.read_csv('./data/crimedata.csv')

/Users/Ann/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data=data.loc[(data['Lat']>35)&(data['Long']< -60)] #remove NA from 'Lat' and 'Long'
data=data.dropna(subset=["STREET"])
columns=['OFFENSE_CODE_GROUP']
for j in columns:
    print(j,data[j].unique())

OFFENSE_CODE_GROUP ['Auto Theft' 'Investigate Property' 'Investigate Person' 'Vandalism'
 'Verbal Disputes' 'Motor Vehicle Accident Response' 'Aggravated Assault'
 'Residential Burglary' 'Larceny' 'Firearm Violations'
 'Medical Assistance' 'Simple Assault' 'Missing Person Reported' 'Robbery'
 'Property Lost' 'Violations' 'Firearm Discovery' 'Warrant Arrests'
 'Other' 'Ballistics' 'Towed' 'Drug Violation' 'Fire Related Reports'
 'Fraud' 'Disorderly Conduct' 'Larceny From Motor Vehicle'
 'Police Service Incidents' 'Missing Person Located' 'Harassment'
 'Property Found' 'Liquor Violation' 'Property Related Damage'
 'Confidence Games' 'Commercial Burglary' 'Recovered Stolen Property'
 'Other Burglary' 'Assembly or Gathering Violations' 'Counterfeiting'
 'Prisoner Related Incidents' 'License Plate Related Incidents'
 'Restraining Order Violations' 'Search Warrants' 'License Violation'
 'Landlord/Tenant Disputes' 'Auto Theft Recovery'
 'Operating Under the Influence' 'Evading Fare' 'Embezzlement'
 'Criminal Harassment' 'Harbor Related Incidents' 'Service'
 'Offenses Against Child / Family' 'Prostitution' 'Biological Threat'
 'Homicide' 'Explosives' 'Arson' 'Aircraft'
 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE' 'HOME INVASION'
 'Phone Call Complaints' 'Bomb Hoax' 'Manslaughter' 'Gambling'
 'INVESTIGATE PERSON' 'HUMAN TRAFFICKING' 'Burglary - No Property Taken']

In [4]:
print(data.isnull().sum())

INCIDENT_NUMBER             0
OFFENSE_CODE                0
OFFENSE_CODE_GROUP          0
OFFENSE_DESCRIPTION         0
DISTRICT                   29
REPORTING_AREA              0
SHOOTING               394646
OCCURRED_ON_DATE            0
YEAR                        0
MONTH                       0
DAY_OF_WEEK                 0
HOUR                        0
UCR_PART                  109
STREET                      0
Lat                         0
Long                        0
Location                    0
dtype: int64

In [5]:
data.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192082859,724,Auto Theft,AUTO THEFT,E18,519,NaN,2019-10-13 09:28:24,2019,10,Sunday,9,Part One,LINCOLN ST,42.259518,-71.121563,"(42.25951765, -71.12156299)"
1,I192082751,724,Auto Theft,AUTO THEFT,E18,493,NaN,2019-10-12 20:11:26,2019,10,Saturday,20,Part One,METROPOLITAN AVE,42.262092,-71.116710,"(42.26209214, -71.11670964)"
2,I192082680,727,Auto Theft,AUTO THEFT - LEASED/RENTED VEHICLE,D14,794,NaN,2019-10-12 15:12:43,2019,10,Saturday,15,Part One,ALLSTON ST,42.352375,-71.135096,"(42.35237455, -71.13509584)"
3,I192082577,724,Auto Theft,AUTO THEFT,D4,130,NaN,2019-10-12 04:41:52,2019,10,Saturday,4,Part One,SAINT JAMES AVE,42.349476,-71.076402,"(42.34947586, -71.07640150)"
4,I192079582,727,Auto Theft,AUTO THEFT - LEASED/RENTED VEHICLE,A15,47,NaN,2019-10-02 08:08:49,2019,10,Wednesday,8,Part One,N MEAD ST,42.381846,-71.066551,"(42.38184582, -71.06655134)"

# EDA